---

name: resume

on:
  pull_request:
  push:
    branches: [main]
    # schedule:
    #   - cron: '0 0 * * 0'
    # workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out repo
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          check-latest: true
      - run: npm install -g resume-cli
      - run: resume validate
      - run: npm install jsonresume-theme-stackoverflow
      - run: resume export -r ../../resume.json index.html && ls
        working-directory: node_modules/jsonresume-theme-stackoverflow/
